.rodape{
    height: 150px;
    background-color: #363536;
    position: relative;
    margin-top: 5px;
    border-radius: 10px;
    padding: 20px;
}

.mainrodape{
    height: 100px;
    background-color: #363536;
    border-radius: 10px;
}
h1.rodape{
    position: absolute;
    color: white;
    height: 100px;
}