div.conteudo{
    background-color: #cac6c6;
    color: black;
    margin-top: 0px;
    padding: 10px;
    min-height: 740px;
    border-radius: 10px; 
    
}
h1.conteudo{
    font-size: 38px;
   color: #0489B1;
}

div.texto{
    font-size: 26px;
    color: black;
    
}

div.logos img{
    width: 60px;
    height: 60px;
    padding: 10px;
    transition: 0.5s;   
}
div.logos img:hover{
    transform: scale(1.3);
}
@media screen and (max-width: 400px){
    div.texto h3{
        font-size: 25px;
        
    }
    div.texto p{
        font-size: 24px;
    }
}
